* {
    font-family: ubuntu;
}

.nav {
    display: flex;
    width: 36%;
    margin-bottom: 0px;
    height: 1cm;
    position: sticky;
}
.h11{
    color: black;
    margin-top: 5px;
}
hr{
    margin-top: 0%;
}
.navbar {
    text-decoration: none;
    font-size: 140%;
    margin-top: 0.5%;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 10px;
    color: black;
}

#nav1 {
    margin-right: 2%;
    transition: 0.4s;
}

#nav2 {
    margin-right: 2%;
    transition: 0.4s;
}

#nav3 {
    background-color: rgb(225, 225, 225);
    cursor: default;
}

#nav4 {
    transition: 0.4s;
}

#nav1:hover {
    transform: scale(1.4);
}

#nav2:hover {
    transform: scale(1.4);
}

#nav4:hover {
    transform: scale(1.4);
}

#nav1:active {
    transform: scale(0.9);
}

#nav2:active {
    transform: scale(0.9);
}

#nav4:active {
    transform: scale(0.9);
}

.row1 {
    display: flex;
}

.header {
    height: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
}

.col1 {
    width: 4%;
}

.col2 {
    width: 29%;
}
hr{
    margin-top: 0%;
}